.btn,
a.btn,
button.btn {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-malformation {
    font-size: 2rem;

    padding: 3rem 4rem;

    color: #fff;
    border-radius: 100% 80px / 80px 100%;
    background-color: #eb6100;
}

a.btn-malformation:hover {
    color: #fff;
    border-radius: 60% 80% / 100% 80%;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.koe {
    position: relative;
    padding: 20px;
    background-color: #f0a15b;
    border-radius: 15px;
    margin-left: 70px;
    
    }
    
    .koe::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #f0a15b;
    left: -35px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    }
    
    .koe::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #f0a15b;
    left: -55px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    }
    /* .a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } */
.b{
    position: absolute;
    top: 150px;
    left: 380px;
}
.koe {
    position: relative;
    padding: 20px;
    background-color: #f0a15b;
    border-radius: 15px;
    margin-left: 70px;
    left: 400px;
    }
    
    .koe::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #f0a15b;
    left: -35px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    }
    
    .koe::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #f0a15b;
    left: -55px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    }